{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}?v=1.0">
    <title>{% block title %}My Cars{% endblock %}</title>
</head>
<body>
    {% block menu %}
        {% include 'accounts/menu_base.html' %}
    {% endblock %}

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
        {% include 'accounts/footer_base.html' %}
    {% endblock %}
</body>
</html>