{% extends 'cars/base_template.html' %}

{% block title %}Meus carros{% endblock %}

{% block content %}
    {% include 'cars/header_search.html' %}
    <div>
        {% if cars %}
            {% for car in cars %}
                <div class="item grid">
                    <h2 class="titulo"><strong>{{ car.model }}</strong></h2>
                    <img class="imagem" src="{{ car.photo.url }}" alt="{{ car.model }}">
                    <p class="text">ID : <strong>{{ car.id }}</strong></p>
                    <p class="preco">R$ {{ car.value }}</p>
                    <p class="text">Marca : <strong>{{ car.brand }}</strong></p>
                    <p class="text">Ano de fabricação: <strong>{{ car.factory_year }}</strong></p>
                    <p class="text">Ano do modelo: <strong>{{ car.model_year }}</strong></p>
                    <p class="text-plate">Placa: <strong>{{ car.plate }}</strong></p>
                </div>
            {% endfor %}
        {% else %}
            <div class="item">
                <p class="text">Nenhum carro encontrado para a pesquisa "<strong>{{ search }}</strong>".</p>
            </div>
        {% endif %}
    </div>
    {% include 'cars/footer_base.html' %}
{% endblock %}