{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cars/css/css.css' %}">
    <title>My Cars</title>
</head>
<body>
    <h1>Testando meus carros.</h1>
    <div class="item">
        <h2 class="titulo"><strong>Maverick</strong></h2>
        <p class="preco">R$ 199.000,00</p>
        <p class="text">Carro Esportivo - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam adipisci minus magni saepe, corporis temporibus quam alias esse itaque architecto corrupti, quisquam accusamus quis, deleniti iusto modi nam animi error.</p>
        <a href="" class="botao"><strong>Compra</strong></a>
    </div>

</body>
</html>