{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cars/css/css.css' %}?v=1.0">
    <title>My Cars</title>
</head>
<body>
    <h1>Testando meus carros.</h1>
    {% for car in cars %}
        <div class="item">
            <h2 class="titulo"><strong>{{ car.model }}</strong></h2>
            <p class="text">ID : <strong>{{ car.id }}</strong></p>
            <p class="preco">R$ {{ car.value }}</p>
            <p class="text">Marca : <strong>{{ car.brand }}</strong></p>
            <p class="text">Ano de fabricação: <strong>{{ car.factory_year }}</strong></p>
            <p class="text">Ano do modelo: <strong>{{ car.model_year }}</strong></p>
            <p class="text-plate">Placa: <strong>{{ car.plate }}</strong></p>
            <p class="text">Description</p>
            <a href="" class="botao"><strong>Comprar</strong></a>
        </div>
    {% endfor %}
    <div class="item">
        <h2 class="titulo"><strong>Maverick</strong></h2>
        <p class="preco">R$ 199.000,00</p>
        <p class="text"><strong>ID</strong> : 117</p>
        <p class="text">Carro Esportivo - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam adipisci minus magni saepe, corporis temporibus quam alias esse itaque architecto corrupti, quisquam accusamus quis, deleniti iusto modi nam animi error.</p>
        <a href="" class="botao"><strong>Comprar</strong></a>
    </div>
    <div class="item">
        <h2 class="titulo"><strong>Maverick</strong></h2>
        <p class="preco">R$ 199.000,00</p>
        <p class="text"><strong>ID</strong> : 117</p>
        <p class="text">Carro Esportivo - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam adipisci minus magni saepe, corporis temporibus quam alias esse itaque architecto corrupti, quisquam accusamus quis, deleniti iusto modi nam animi error.</p>
        <a href="" class="botao"><strong>Comprar</strong></a>
    </div>

</body>
</html>