/* Centralizar o formulário na página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da janela */
    margin: 0;
    background-color: #f5f5f5; /* Cor de fundo opcional */
    font-family: Arial, sans-serif;
}

.fomulario {
    background-color: #ffffff; /* Fundo branco para o formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar o formulário */
    width: 100%;
    max-width: 400px; /* Largura máxima do formulário */
}

.fomulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Cor do texto */
}

.fomulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box; /* Garante que padding e border não aumentem a largura total */
}

.fomulario input:focus {
    border-color: #007bff; /* Cor da borda ao focar no campo */
    outline: none; /* Remove o contorno padrão */
}

.fomulario button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fomulario button:hover {
    background-color: rgb(12, 172, 12);
}